body {
    /* This code below contains the css styling for the background. */
    background-image: url('./images/Background.png');
    background-attachment: fixed;
    background-size: auto 100vh;
    background-position: center;
    background-color: #250000;
    /* This is to set the font and font colour. */
    font-family:
        "Segoe UI",
        "Roboto",
        "Helvetica Neue",
        "Arial",
        "Tahoma",
        "Verdana",
        "Ubuntu",
        "DejaVu Sans",
        "sans-serif";
    font-size: 22px;
    color: #56a34d;

    margin-top: -1em;
}
/* Simple formatting */
h1 {
    text-align: center;
    font-size: 166.66%;
}
.emoji {
    height:1.3em;
    vertical-align:middle;
}
.image {
    max-width: 100%;
    max-height: 378px;
    display: block;
    padding-bottom: 0.3333em;
}
.hyperlink {
    text-decoration: underline;
    color: #3f700d;
    transition: ease 450ms;
}
.hyperlink:hover {
    transition: ease 400ms;
    font-weight: 600;
    color: #296a15;
    font-size: 105%;
}
/* This is the reading class that makes the best reading styling for the element */
.reading {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 0.6666em;
    box-sizing: border-box;
    padding-left: 8px;
    list-style-position: inside;
}
/* Makes the navigation pane's background */
.nav-pane {
    background: #ff464666;
    border-radius: 25px;
    border: 0px;
}
/* Makes the navigation pane a side bar */
.side-nav {
    --nav-height: calc(100vh - 20px);
    position: sticky;
    left: 10px;
    top: 10px;
    width: 231.6px;
    height: var(--nav-height);
    margin-bottom: calc(-1 * var(--nav-height));
    display: block;
}
.bottom-nav {
    display: none;
}
/* Makes the navigation pane go to the bottom of the page when there isn't enough horizontal space */
@media (max-width: 1263.2px) /* content width plus 2x nav width */ {
    .side-nav {
        display: none;
    }

    .bottom-nav {
        display: block;
        max-width: 100%;
        width: 800px;
        margin: 0 auto;
        min-height: 300px;
        margin-top: 1em;
    }
}

    /* Handles the placing of the buttons */
    .buttons {
        height: calc(75px * var(--button-scaler));
        margin-top: 2em;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    /* Creates the button look */
    .button,.button-disabled {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: 150px;
        height: 75px;
        background: #ff464666;
        border-radius: 25px;
        align-content: center;
        text-align: center;
        cursor: pointer;
        outline-offset: -2.1px;
        outline-width: 4px;
        outline-color: #521515;
        outline-style: solid;
        text-decoration: none;
        transition: ease 450ms;
    }
    .button:hover {
        transition: ease 400ms;
        --button-scaler: 1.067;
        transform: scale(var(--button-scaler));
        filter: saturate(125%) brightness(95%);
    }
    .button:focus-visible {
        background: #ff353580;
        filter: brightness(175%) saturate(130%);
    }
    /* Creates the disabled button look */
    .button-disabled {
        cursor: not-allowed;
        filter: grayscale(0.6);
    }